
              <div class="main_title_block">
                    <div class="main_title_block_cont _cont">
                        <div class="main_inform">
                            <h1 class="main_title_text">A new online shop experience</h1>
                            <p class="main_text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
                                Nullam a ultricies metus. Sed nec molestie eros. Sed viverra velit venenatis fermentum luctus.</p>
                            <a href="#" class="main_button button">Watch Now</a>
                        </div>
                    </div>
                </div>
