/*----------Main --------------------------------------------------------------------------------------------*/
/*----------Base ---------------------------------------------------------------------------------*/
.button {
    display:flex;
    justify-content: center;
    align-items:center;   
    border: 2px solid white;
    text-align:center;
    max-width: 178px;
    min-height: 61px;
    cursor:pointer;
    font-size:16px;
    font-weight:600;   
    padding: 0 10px;
    overflow:hidden;
    width: 100%;      
}
.main {
    flex: 1 1 auto;
}

.main_title_block_cont {
    background: url(../images/home_slider_1.jpg) no-repeat;
    color: #fff;
    background-size:cover;
    background-position: center;
}
.main_inform {
    max-width: 580px;
    padding: 260px 0 150px 0;
}
.main_title_text {
  font-size:60px;
  font-weight:600;
  line-height: 1.2;
  
}
.main_text {
    font-size:14px;
    font-weight:400;
    margin-top: 22px;
    line-height: 2.14;
}

.main_button {
    margin-top: 40px;
}

.main_button:hover{
    color: #000;
    background:white;
}
@media screen and (max-width: 800px){
    .main_title_text {
        font-size:55px;  
     
      }
      .main_button {
        margin-left: auto;
        margin-right: auto;
    }

}
@media screen and (max-width: 660px){
    
    .main_title_text {
        font-size:50px;      
      }
}