
.input_form {
    width: 100%;
    margin: 8px 0;
    display: block;
    border: 1px solid #ccc;
    box-shadow: inset 0 1px 3px #ddd;
    border-radius: 4px;
    padding: 12px 20px;
    outline:none;
}

.input_form:focus, .input_form:hover {
    box-shadow: 5px 5px 43px -34px rgba(34, 60, 80, 0.6) inset;
}


.input__wrapper {
    width: 100%;
    position: relative;
    margin-bottom: 15px;
    text-align: center;
  }
   
  .input__file {
    opacity: 0;
    visibility: hidden;
    position: absolute;
  }
   
  .input__file-icon-wrapper {
    height: 60px;
    width: 60px;
    margin-right: 15px;
    display: flex !important;
    align-items: center;
    justify-content: center;
    border-right: 1px solid #fff;
  }
.input__file-icon {
    width:100%;
}
  .input__file-button-text {
    line-height: 1;
    margin-top: 1px;
  }
   
  .input__file-button {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
    max-width: 290px;
    height: 60px;
    background: #1bbc9b;
    color: #fff;
    font-size: 1.125rem;
    font-weight: 700;
    border-radius: 3px;
    cursor: pointer;
    margin: 0 auto;
  }

/*----------------------------------------------------*/

.product_wrapper, .add_Product_cont {
    display: flex;
    margin-top: 150px;
    justify-content: space-between;
    flex-wrap:wrap;
}
.image_wrapper, .text_wrapper, .product_photos {
    flex: 0 1 48%;
}

.text_wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.text_wrapper > *:not(:first-child){
    margin-top: 15px;
}
.product_photos {
    margin-top: 10px;
}
/* send button -----------------------------------*/
.button_send {
    appearance: none;
    background-color: #f4511e;
    border: none;
    color: white;
    padding: 16px 32px;
    text-align: center;
    font-size: 16px;
    margin: 4px 2px;
    opacity: 0.6;
    transition: 0.3s;
    display: inline-block;
    text-decoration: none;
    cursor: pointer;
}
.button_send:hover {
opacity: 1;
}

.photo {
  display:block;
}
@media (max-width:1060px)
{
  .text_wrapper {
    margin-top:15px;
  }
 .image_wrapper, .text_wrapper {
    flex: 0 1 100% !important;
}
}