                <div class="subscribe">
                    <div class="subscribe_cont _cont">
                        <div class="subscribe_inform">
                            <h3 class="subscribe_title">Subscribe to our newsletter</h3>
                            <p class="subscribe_text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
                                Nullam a ultricies metus. Sed nec molestie eros</p>
                            <form action="#" method="POST" id="subscribe_form" class="subscribe_form">
                                <input type="email" class="subscribe_input" required="required">
                                <a href="#" class="subscribe_button button">Subscribe</a>
                            </form>
                        </div>
                    </div>
                </div>